workflows/ai-image-generator/workflow.json
{
  "name": "AI image generator",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e04fec4-441e-45f7-acea-0017a4b5c104",
              "name": "model",
              "type": "string",
              "value": "flux"
            },
            {
              "id": "aa80cd68-1c82-4032-b1d7-e098856eec38",
              "name": "width",
              "type": "string",
              "value": "1080"
            },
            {
              "id": "da6d305f-aece-49bd-ae02-52df59915c60",
              "name": "height",
              "type": "string",
              "value": "1920"
            }
          ]
        },
        "options": {}
      },
      "id": "d5d1fe1b-f053-4162-adf4-5b52b409942d",
      "name": "Fields - Set Values",
      "type": "n8n-nodes-base.set",
      "position": [
        1300,
        1100
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "function cleanAndExtractJSON(response) {\n    try {\n        const result = {\n            image_prompt: []\n        };\n\n        const lines = response.split('\\n');\n        let currentPrompt = '';\n\n        for (const line of lines) {\n            if (line.includes('\"prompt\":')) {\n                if (currentPrompt) {\n                    result.image_prompt.push(currentPrompt.trim());\n                }\n                currentPrompt = line.split('\"prompt\":')[1].trim();\n            }\n        }\n\n        if (currentPrompt) {\n            result.image_prompt.push(currentPrompt.trim());\n        }\n\n        return { json: result };\n        \n    } catch (error) {\n        return { \n            json: {\n                image_prompt: []\n            }\n        };\n    }\n}\n\nconst response = $input.first().json.output;\nreturn cleanAndExtractJSON(response);"
      },
      "id": "7565ff7c-cfe7-4157-953b-74c1e66d659e",
      "name": "Code - Clean Json",
      "type": "n8n-nodes-base.code",
      "position": [
        2040,
        1100
      ],
      "executeOnce": false,
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.image_prompt.map(prompt => ({\n  json: {\n    body: {\n      prompt: prompt,\n  \"image_size\": {\n    \"width\": $('Fields - Set Values').first().json.width,\n    \"height\": $('Fields - Set Values').first().json.height\n  },\n  \"num_inference_steps\": 12,\n  \"guidance_scale\": 3.5,\n  \"num_images\": 1,\n  \"enable_safety_checker\": true,\n}\n    }\n  }\n));"
      },
      "id": "8e33813d-bd34-46b9-91c8-89dac7f28add",
      "name": "Code - Get Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        2220,
        1100
      ],
      "typeVersion": 2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/ {{ $('Code - Get Prompt').item.json.body.prompt }}",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n  \"width\": {{ $('Fields - Set Values').item.json.width }},\n  \"height\": {{ $('Fields - Set Values').item.json.height }},\n  \"model\": \"{{ $('Fields - Set Values').item.json.model }}\",\n  \"seed\": 42,\n  \"nologo\": true\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fba88baa-70e8-452c-b44e-d1685df0eb7d",
      "name": "HTTP Request - Create Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2660,
        1100
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "25617f21-8d05-4ca2-9c16-5cd97e369bdb",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1060,
        1100
      ],
      "webhookId": "ff17baeb-3182-41c4-b60a-e6159b02023b",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "7RMpSCrL1ZHhlztr",
          "name": "nursing"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (let i = 0; i < items.length; i++) {\n  items[i].json.fileName = `images_${(i + 1).toString().padStart(3, '0')}.png`;\n}\nreturn items;"
      },
      "id": "de666684-e743-40ef-b604-1cff33b107de",
      "name": "Code - Set Filename",
      "type": "n8n-nodes-base.code",
      "position": [
        2380,
        1100
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI image‑prompt creation expert. Please create a post using the following JSON format:\nAI Image Generation Prompt Guidelines:\nObjective\nCreate highly realistic, high‐quality images\nEnsure the image content faithfully conveys the spirit of the original text\nIntegrate short text (10–20 characters) naturally into the image\nMaintain consistency and professionalism\n\nStandard Prompt Structure\n[Main Scene] | [Key Elements] | [Text Integration] | [Lighting & Atmosphere] | [Technical Parameters] | [Style Parameters]\n\nComponent Breakdown\n1. Main Scene (Weight ::8)\nDescribe the primary setting in line with the content.\nExamples:\nTech news: \"modern tech office setting, minimalist workspace\"\nEconomy news: \"professional financial district, corporate environment\"\nEducation news: \"modern classroom, advanced learning environment\"\n\n2. Key Elements (Weight ::8)\nList the main visual elements required.\nExamples:\n\"large HD display showing text 'AI Ethics' in modern typography\"\n\"professional people in business attire discussing around interactive screen\"\n\"detailed infographic elements floating in augmented reality style\"\n\n3. Text Integration (Weight ::7)\nHow to display text within the image:\ntext elements | elegant typography, clear readable text, integrated naturally into scene ::7\n\n4. Lighting & Atmosphere (Weight ::7)\nlighting | cinematic dramatic lighting, natural ambient light, professional studio setup ::7\nbackground | depth of field blur, clean professional environment ::6\n\n5. Technical Parameters\nparameters | 8k resolution, hyperrealistic, photorealistic quality, octane render, cinematic composition --ar 16:9\nsettings | sharp focus, high detail, professional photography --s 1000 --q 2\nComplete Examples\nExample 1: AI Ethics News\nprofessional tech conference room | large display showing \"AI Ethics Now\" in modern typography, group of diverse executives in discussion ::8 | clean modern workspace, glass walls, city skyline view ::6 | cinematic dramatic lighting, natural ambient light ::7 | 8k resolution, hyperrealistic, photorealistic quality --ar 16:9\n\nExample 2: Financial Markets\nmodern trading floor | multiple screens showing stock data, \"Market Rally\" text in bold typography, traders analyzing data ::8 | professional financial environment, glass partitions, data visualizations ::6 | professional studio lighting, dramatic shadows ::7 | 8k resolution, hyperrealistic, cinematic composition --ar 16:9\n\nOutput Requirements:\n- Return ONLY the JSON object\n- No additional text or formatting\n- Ensure all required fields are present\n- Use the same text formatting as the examples"
        }
      },
      "id": "3a150703-2a7f-4255-9da0-6a15c005290c",
      "name": "AI Agent - Create Image From Prompt",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1600,
        1100
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "a3e5fa40-51c1-41fa-83cb-d6d598f1ff49",
      "name": "Telegram Response",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2880,
        1000
      ],
      "webhookId": "ca4806ac-202c-4709-92f9-6484397c17c4",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/{{ $('Code').item.json.fileName }}",
        "options": {}
      },
      "id": "f7059ea5-106b-4b73-8cb3-b0e10e1c0c13",
      "name": "Save Image To Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        2880,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        940
      ],
      "typeVersion": 1,
      "id": "16f9dfca-770f-4218-bace-666bb7e3d889",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        940
      ],
      "typeVersion": 1,
      "id": "17ea8cc7-e532-4b81-95b9-c2ef8fbdbe68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        940
      ],
      "typeVersion": 1,
      "id": "1c775032-a6f1-4fa7-8bc5-8b6da5a57f4d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        940
      ],
      "typeVersion": 1,
      "id": "5412f61c-b052-424d-86d9-f86b168a1dd2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1540,
        1280
      ],
      "id": "6e8dbbc8-61df-45cb-a88f-dc4f002fcecd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "x07aQQc5a7WzErxw",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1680,
        1300
      ],
      "id": "72daab3b-566b-4945-b179-810b68a606ad",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Fields - Set Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Clean Json": {
      "main": [
        [
          {
            "node": "Code - Get Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Get Prompt": {
      "main": [
        [
          {
            "node": "Code - Set Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Set Filename": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fields - Set Values": {
      "main": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Image": {
      "main": [
        [
          {
            "node": "Save Image To Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Create Image From Prompt": {
      "main": [
        [
          {
            "node": "Code - Clean Json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Create Image From Prompt",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7674ec9-dc17-485c-b530-bffa5ef855fd",
  "meta": {
    "templateId": "5626",
    "instanceId": "0ad5932481841b9c64e1576baf90b24887963b0125b4b2739d8fea6a0705f390"
  },
  "id": "yhVNq8YUey1rNb8s",
  "tags": []
}
